#b2b_marketing {background: #f5f5f5;}
#b2b_marketing .section1_box {position: relative;}
#b2b_marketing .section1 {position:relative;width: 100%;height:100vh;background-image:url('/public/imgs/marketings/marketing_main.jpg');background-size:cover;background-position:center center;}
#b2b_marketing .section1_overlay {position: absolute;top:0;left:0;width: 100%;height: 100%;z-index:1;background: rgba(0,0,0,0.6);}
#b2b_marketing .section1_con {position:absolute; top:50%;left:50%;transform: translate(-50%,-50%);z-index:5;text-align: center;}
#b2b_marketing .section1_con p {color:#fff;font-size:22px;font-weight:400;letter-spacing: -0.44px;line-height: 35.8px;text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.76);}
#b2b_marketing .section1_con h3 {text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.68);color: #fff;font-weight: 600;letter-spacing: -0.7px;font-size:35px;margin:15px 0 22px;}
#b2b_marketing .section1_con > div img {width:138px;height:49px;}

#b2b_marketing .section1_box button {box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);position:fixed; bottom:57px;left:50%;transform: translateX(-50%);z-index:3;width: 416px;height: 99px;line-height: 99px;text-align: center;color:#fff;border-radius: 49.5px;background: linear-gradient(0deg, #040209 0%, #1C034F 100%);font-size:30px;transition: transform 0.3s;font-weight:400;}
#b2b_marketing .section1_box button span {font-weight:600;}
#b2b_marketing .section1_box button:hover {transform: translateX(-50%) scale(1.1);}
#b2b_marketing .section1_box button div.poi {
  height: 6px;
  display: block;
  width: 6px;
  position: absolute;
  top: 25px;
  right: 27px;
  border-radius: 5px;
  background: #00FFFF;
  animation: movePoi 1s infinite;
}
@keyframes movePoi {
    0% {
        top: 30px;
    }
    50% {
        top: 25px;
    }
    100% {
        top: 30px;
    }
}

#b2b_marketing .section2 {width:100%;background-color: #e1e1e1;padding: 183px 0;text-align: center;}
#b2b_marketing .section2_con {display: flex;gap:14px;justify-content: center;align-items: center;}
#b2b_marketing .section2_con > p {color:#000;font-size: 18px;font-weight: 400;line-height: 30px;letter-spacing: -0.36px;transition: transform 0.3s;text-align: left;}
#b2b_marketing .section2_con > p span {font-weight: 600;}
#b2b_marketing .section2_con > div {padding-left:23px;}
#b2b_marketing .section2_con div span {position:relative; display: inline-block;width: 304px;height:304px;border-radius: 50%;background-color: #4d24a1;transition: transform 0.3s; cursor: pointer;}
#b2b_marketing .section2_con div span:hover {transform: scale(1.1);z-index: 2;}
#b2b_marketing .section2_con div span:nth-child(2) {background-color:#2d077b;transform: translateX(-23px);z-index:1;}
#b2b_marketing .section2_con div span:nth-child(2):hover {transform: translateX(-23px) scale(1.1);}
#b2b_marketing .section2_con div span p:nth-child(1) {color:#fff;font-family:'Poppins', sans-serif;;font-size: 25px;letter-spacing: -0.25px;font-weight: 600;margin-top:118px;}
#b2b_marketing .section2_con div span p:nth-child(2) {color:#fff;font-size:25px;font-weight: 400;letter-spacing: -0.5px;margin-top:12px;}

#b2b_marketing .section3 {width:100%;background:#0d0222;padding:96px 0 135px;}
#b2b_marketing .section3_con {width:1087px;margin:0 auto;text-align:center;}
#b2b_marketing .section3_con > p {display:flex;justify-content: center;color:#fff;font-size:22px;font-style:italic;font-weight:400;letter-spacing:-0.887px;opacity:0.5;margin-bottom:18px;font-family: 'Poppins', sans-serif;}
#b2b_marketing .section3_con > p > span {align-self: flex-end;margin-left:5px;}
#b2b_marketing .section3_con > h3 {color:#fff;font-size:30px;font-weight:400;letter-spacing:-0.6px;margin-bottom:61px;}
#b2b_marketing .section3_con > h3 span {font-weight:600;}
#b2b_marketing .section3_con ul {display:flex;}
#b2b_marketing .section3_con ul li {opacity:0;cursor: pointer;width:260px;height:170px;margin-right:17px;border-radius:15px;padding:17px 27px;box-sizing:border-box;}
#b2b_marketing .section3_con ul li.fade {animation: fadeIn 0.5s ease-out forwards;}
#b2b_marketing .section3_con ul li:hover {box-shadow: 0px 0px 6px #fff;}
#b2b_marketing .section3_con ul li:hover {box-shadow: 0px 0px 6px rgba(0,0,0,0.7);}
#b2b_marketing .section3_con ul li:hover > div {color:#000;border-bottom:1px solid #000;}
#b2b_marketing .section3_con ul li:hover > p {color:#000;}
#b2b_marketing .section3_con ul li:hover > p span {color:rgba(0,0,0,0.7);}
#b2b_marketing .section3_con ul li:nth-child(1) {animation-delay: 0s;background-color: #8d7bf2;}
#b2b_marketing .section3_con ul li:nth-child(2) {animation-delay: 0.3s;background-color: #7752e6;}
#b2b_marketing .section3_con ul li:nth-child(3) {animation-delay: 0.5s;background-color: #6b38d2;}
#b2b_marketing .section3_con ul li:nth-child(4) {animation-delay: 0.7s;background-color: #4d24a1;}
#b2b_marketing .section3_con ul li:nth-child(5) {animation-delay: 1s;background-color: #2d077b;}
#b2b_marketing .section3_con ul li:last-child {margin-right:0;}
#b2b_marketing .section3_con ul li > div {color:#fff;font-size:30px;font-weight:500;letter-spacing:-0.6px;padding-bottom:11px;border-bottom:1px solid #fff;font-family: 'Poppins', sans-serif;}
#b2b_marketing .section3_con ul li > p {color:#fff;font-size:23px;font-weight:600;letter-spacing:-0.46px;text-align:center;padding-top:19px;}
#b2b_marketing .section3_con ul li > p span {display:inline-block;font-weight:400;font-size:16px;letter-spacing: -0.32px;margin-top:10px;color:rgba(255,255,255,0.7);}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

#b2b_marketing .section4 {width:100%; padding:137px 0 146px;}
#b2b_marketing .section4_con {width:826px;margin:0 auto;text-align:center;}
#b2b_marketing .section4_con > p {color:#7d7773;font-size:22px;font-style:italic;font-weight:400;letter-spacing:-0.887px;opacity:0.5;margin-bottom:18px;font-family: 'Poppins', sans-serif;}
#b2b_marketing .section4_con > h3 {color:#000;font-size:30px;font-weight:400;letter-spacing:-0.6px;margin-bottom:61px;}
#b2b_marketing .section4_con > h3 span {font-weight:600;}
#b2b_marketing .section4_con .logo_box ul {display:flex;justify-content: center;align-items: center;margin-bottom:50px;}
#b2b_marketing .section4_con .logo_box ul:last-child {margin-bottom:0;}
#b2b_marketing .section4_con .logo_box ul li {flex:1;}

/* 애니메이션 css */
#b2b_marketing .hidden {opacity:0;transform:translateY(30px);transition:all 0.6s ease-out;}
#b2b_marketing .visible {opacity:1;transform:translateY(0);}
#b2b_marketing .fade-item {transition-delay: 0.6s; }

/* 반응형 css */
@media screen and (max-width: 1400px) {
  #b2b_marketing .section3_con {width:100%;padding:0 20px;}
  #b2b_marketing .section3_con ul li {flex:1;}
  #b2b_marketing .section2_con {position: relative;}
  #b2b_marketing .section2_con > p:nth-child(1) {position: absolute;top:-80px;left:20%;}
  #b2b_marketing .section2_con > p:nth-child(3) {position: absolute;bottom:-80px;right:20%;}
}

@media screen and (max-width: 1000px) {
  #b2b_marketing .section3_con ul li > p {font-size:18px;line-height: 25px!important;}
  #b2b_marketing .section2_con > p:nth-child(1) {position: absolute;top:-80px;left:10%;}
  #b2b_marketing .section2_con > p:nth-child(3) {position: absolute;bottom:-80px;right:10%;}
}

@media screen and (max-width: 850px) {
  #b2b_marketing .section1_con > div img {width: 83px;height:30px;}
  #b2b_marketing .section1_con h3 {font-size:28px;letter-spacing: -0.56px;margin:15px 0 15px;}
  #b2b_marketing .section1_con p {font-size: 15px;letter-spacing: -0.3px;line-height: 24px;}
  #b2b_marketing .section1_box button {box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);position:fixed; bottom:57px;left:50%;transform: translateX(-50%);z-index:3;width: 287px;height: 68px;line-height:68px;text-align: center;color:#fff;border-radius: 34px;background:linear-gradient(0deg, #180048 0%, #3A00AE 100%);font-size:21px;transition: transform 0.3s;font-weight:400;}
  #b2b_marketing .section1_box button div.poi {
      height: 6px;
      display: block;
      width: 6px;
      position: absolute;
      top: 17px;
      right: 27px;
      border-radius: 5px;
      background: #00FFFF;
      animation: movePoi 1s infinite;
    }
    @keyframes movePoi {
      0% {
          top: 17px;
      }
      50% {
          top: 12px;
      }
      100% {
          top: 17px;
      }
    }

    #b2b_marketing .section2 {padding:101px 0;position: relative;z-index: 2;} 
    #b2b_marketing .section2_con {display:block;position: relative;}
    #b2b_marketing .section2_con > p {position:initial!important;text-align: center;font-size:15px;letter-spacing: -0.3px;line-height: 24px;}
    #b2b_marketing .section2_con > p:nth-child(1) {margin-bottom:232px;}
    #b2b_marketing .section2_con > div {width:250px;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);padding-left: 0;}
    #b2b_marketing .section2_con div span:nth-child(1) {top:-185px;}
    #b2b_marketing .section2_con div span:nth-child(2) {top:-85px;transform: none;}
    #b2b_marketing .section2_con div span {width:170px;height:170px;}
    #b2b_marketing .section2_con div span p:nth-child(1) {font-size:15px;letter-spacing: -0.15px;margin-top:67px;}
    #b2b_marketing .section2_con div span p:nth-child(2) {font-size:18px;letter-spacing: -0.36px;}
    #b2b_marketing .section2_con div span:nth-child(2):hover {transform: scale(1.1);}
  
    #b2b_marketing .section3 {padding:79px 0 115px;}
    #b2b_marketing .section3_con h3 {font-size:24px;letter-spacing: -0.48px;margin-bottom: 50px;}
    #b2b_marketing .section3_con p {font-size:19px;letter-spacing: -0.754px;margin-bottom:12px}
    #b2b_marketing .section3_con p > span {margin-left:3px;}
    #b2b_marketing .section3_con p img {width:48px;height:17px;}
    #b2b_marketing .section3_con ul {flex-wrap: wrap; gap:15px;}
    #b2b_marketing .section3_con ul li {flex: 1 1 calc(50% - 10px);margin-right:0;}

    #b2b_marketing .section4 {padding:90px 0 50px;}
    #b2b_marketing .section4_con {width: 100%;padding:0 20px;}
    #b2b_marketing .section4_con h3 {font-size:21px;letter-spacing: -0.42px;margin-bottom:37px;}
    #b2b_marketing .section4_con p {font-size:15px;letter-spacing: -0.3px;margin-bottom:10px;}
    #b2b_marketing .section4_con .logo_box ul li {min-width: 0;padding:0 15px;}
    #b2b_marketing .section4_con .logo_box ul li img {width: 100%;height:100%;object-fit: cover;}
  }

  @media screen and (max-width: 840px) {
    #b2b_marketing .section4_con .logo_box ul:first-child {
      margin-bottom:20px;
    }
  }